@model Project.ViewModel.LoginVm
@{
    ViewBag.Title = "LogIn";
}
<link rel="stylesheet" href="~/assets/css/login.css">
<div class="container">
    <div class="login__form">
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                @using (Html.BeginForm("login", "Account", FormMethod.Post, htmlAttributes: new { @class = "form", @id = "form-2" }))
                {
                    <h3 class="heading">ĐĂNG NHẬP</h3>
                    <a href="" class="form__forgot-password">Bạn quên mật khẩu?</a>
                    <div class="form-group">
                        @Html.LabelFor(t => t.UserName, htmlAttributes: new { @class = "form-label" })
                        @Html.TextBoxFor(t => t.UserName, new { placeholder = "VD: nhamngoo.29", @class = "form-control", @id = "UserName" })
                        <span class="form-message"></span>
                    </div>
                    <div class="form-group matkhau">
                        @Html.LabelFor(t => t.Password, htmlAttributes: new { @class = "form-label" })
                        @Html.TextBoxFor(t => t.Password, new { type = "password", @class = "form-control", @id = "password", placeholder = "Nhập mật khẩu" })
                        <span class="show-hide"><i class="fas fa-eye"></i></span>
                        <span class="form-message"></span>
                    </div>
                    <button class="form-submit btn-blocker" style="border-radius: unset;">
                        ĐĂNG NHẬP <i class="fas fa-arrow-right"
                                     style="font-size: 16px;margin-left: 10px;"></i>
                    </button>
                    <h4>HOẶC</h4>
                    <div class="form-social">
                        <a href="" class="form-submit-social btn-blocker">
                            <span>Facebook</span>
                            <img src="~/assets/icon/facebook.svg" alt="" class="form-submit-social--img">
                        </a>
                        <a href="" class="form-submit-social btn-blocker">
                            <span>GOOGLE</span>
                            <img src="~/assets/icon/google.svg" alt="" class="form-submit-social--img">
                        </a>
                    </div>
                }
            </div>
            <div class="col-sm-12 col-lg-6">
                <h3 class="heading">TẠO MỘT TÀI KHOẢN</h3>
                <p class="text-login">
                    Thật dễ dàng tạo một tài khoản. Hãy nhập địa chỉ email của bạn và điền vào mẫu trên
                    trang tiếp theo và tận hưởng những lợi ích của việc sở hữu một tài khoản :
                </p>
                <ul>
                    <li class="text-login-item">
                        <i class="fas fa-check"></i>
                        <p class="text-login">Tổng quan đơn giản về thông tin cá nhân của bạn</p>
                    </li>
                    <li class="text-login-item">
                        <i class="fas fa-check"></i>
                        <p class="text-login">Thanh toán nhanh hơn</p>
                    </li>
                    <li class="text-login-item">
                        <i class="fas fa-check"></i>
                        <p class="text-login">Ưu đãi và khuyến mãi độc quyền</p>
                    </li>
                    <li class="text-login-item">
                        <i class="fas fa-check"></i>
                        <p class="text-login">Các sản phẩm mới nhất</p>
                    </li>
                    <li class="text-login-item">
                        <i class="fas fa-check"></i>
                        <p class="text-login">Các bộ sưu tập giới hạn và bộ sưu tập theo mùa mới</p>
                    </li>
                    <li class="text-login-item">
                        <i class="fas fa-check"></i>
                        <p class="text-login">Các sự kiện sắp tới</p>
                    </li>
                </ul>
                <a href="./registration.html">
                    <button class="form-submit btn-blocker custom-btn" style="border-radius: unset;margin:unset">
                        ĐĂNG KÍ <i class="fas fa-arrow-right" style="font-size: 16px;margin-left: 10px;"></i>
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- end login form -->
<script src="~/assets/js/validator.js"></script>
<script>
    Validator({
        form: '#form-2',
        formGroupSelector: '.form-group',
        errorSelector: '.form-message',
        rules: [
            Validator.UserName('#UserName', 'Vui lòng nhập tên đăng nhập'),
            Validator.isRequired('#password'),
            Validator.minLength('#password', 6),

        ],
        onSubmit: function (data) {
            // call api
            console.log(data);
        }
    });
</script>
<script>
    const pass_field = document.querySelector('#password');
    const show_btn = document.querySelector('.fa-eye')
    show_btn.addEventListener("click", function () {
        if (pass_field.type === "password") {
            pass_field.type = "text";
            show_btn.classList.add("hide");
        } else {
            pass_field.type = "password";
            show_btn.classList.remove("hide");
        }
    });
</script>
