.content {
    margin-top: 10px;
}
.main-header a{
    color: var(--black-color);
    font-size: 20px;
    font-weight: 500;
}
.main-header a:hover {
    text-decoration: none;
}
.main-customer-info {
    display: flex;
    margin-bottom: 20px;
}
.main-customer-info-logged {
    font-size: 16px;
    margin-left: 25px;
}
.form-label {
    text-align: left;
    font-size: 16px;
    font-weight: 700;
    line-height:1.8rem;
    padding-bottom: 6px;
}
.form-control {
    height: 50px;
    padding: 8px 12px;
    border: 1px solid #b3b3b3;
    border-radius: unset !important;
    outline: none !important;
    font-size: 1.4rem;
}
.form-control:focus {
    border-color: unset !important;
    border: 1px solid #1dbfaf !important;
}
.form-control:hover {
    border-color: #1dbfaf;
}
.form-group.invalid .form-control {
    border-color: #f33a58;
}
.form-group.invalid .form-message {
    color: #f33a58;
}
.main-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;
}
.continue a{
    color: var(--black-color);
    font-size: 20px;
    font-weight: 500;
    vertical-align: middle;
}
.fi-rs-angle-left {
    font-size: 16px !important;
    font-weight: 600;
}
.continue a:hover {
    text-decoration: none;
}
.btn-pay {
    padding: 20px 40px;
    width: 100%;
    background-color: var(--black-color);
    color: var(--white-color);
    font-size: 20px;
    font-weight: 500;
}
.sliderbar {
    margin-top: 30px;
    
}
.row-sliderbar {
    margin: 10px 0;
}
.col-2 span {
    font-size: 16px;
}
.col-6 span {
    font-size: 16px;
}
.slider-footer {
    margin-top: 20px;
}
.row-sliderbar-footer {
    margin: 20px 0;
}
.col-4 img {
    position: relative;
}
.notice {
    position: absolute;
    background-color: #d9121f;
    color: var(--white-color);
    padding: 1px 6px;
    font-size: 10px;
    border-radius: 50%;
    top: -8px;
    right: 34px;
}

.summary {
    /* border-top: 1px solid #000; */
    border-bottom: 1px solid #000;
    padding: 10px 5px;
}
.summary-heading {
    display: flex;
    justify-content: space-between;
}
