@model PagedList.PagedList<Project.Models.Product>
@using PagedList.Mvc
@{
    ViewBag.Title = "Danh sách sản phẩm";
}
@section naviheader{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="~/admin/Content/Clients/index.html" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="~/admin/Productypes/Index" class="nav-link">Sản phẩm</a>
        </li>
    </ul>
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="text-uppercase">Quản lý sản phẩm</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="~/admin/Content/Clients/index.htm">Home</a></li>
                    <li class="breadcrumb-item active">Sản phẩm</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title text-uppercase">Danh sách sản phẩm</h3>

            <div class="card-tools">
                <a href="/Admin/Products/Create" class="btn btn-primary">Thêm mới</a>
            </div>
        </div>
        <div class="card-body">
               <table class="table table-hover">
                   <thead>
                       <tr>
                           <th>STT</th>
                           <th>ID sản phẩm</th>
                           <th>Tên sản phẩm</th>
                           <th>Ngày tạo</th>
                           <th>Số lượng</th>
                           <th>Giá</th>
                           <th>Hiện thị</th>
                           <th>Giảm giá</th>
                           <th>Thuế</th>
                           <th>Sao</th>
                           <th>Hình ảnh</th>
                           <th>Thể loại sản phẩm</th>
                           <th>Số lượng đã bán</th>
                           <th>Thương hiệu</th>
                       </tr>
                   </thead>
               </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            Footer
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Xóa danh mục</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn xóa loại sản phẩm này không <span id="Name-Modal" class="text-bold"></span>
                <a id="id-Modal" hidden></a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary Ajax-delete" data-bs-dismiss="modal">Xóa</button>
            </div>
        </div>
    </div>
</div>

<script>
    function ImgModals(Img) {
        document.getElementById('ImgModals').innerHTML = `<img src="/assets/img/slideshow/${Img}" alt="Alternate Text" width="770px"/>`;
    }
</script>
@section Ajax{
    <script>
        $(document).ready(function () {
            $('body').on('click', '.Ajax-delete', function (e) {
                e.preventDefault();
                var id = document.getElementById('id-Modal').innerHTML;
                $.ajax({
                    url: '/Sliders/Remove',
                    type: 'POST',
                    data: { id: id },
                    success: function (rs) {
                        if (rs.Success) {
                            $('#trow-' + id).remove();
                        }
                    }
                });
            });
            $('body').on('click', '.btnActive', function (e) {
                e.preventDefault();
                var btn = $(this);
                var id = btn.data("id");
                $.ajax({
                    url: '/admin/Sliders/IsActive',
                    type: 'POST',
                    data: { id: id },
                    success: function (rs) {
                        if (rs.success) {
                            if (rs.isAcive) {
                                btn.html("<i class='fa fa-check text-success'></i>");
                            }
                            else {
                                btn.html("<i class='fas fa-times text-danger'></i>");
                            }
                        }
                    }
                });
            });
        });
    </script>
}