@model PagedList.IPagedList<Project.Models.Product>
@using PagedList.Mvc
@using PagedList;
@{
    ViewBag.Title = "Danh sách sản phẩm";
}
@section naviheader{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="~/admin/Content/Clients/index.html" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="~/admin/Productypes/Index" class="nav-link">Sản phẩm</a>
        </li>
    </ul>
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="text-uppercase">Quản lý sản phẩm</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="~/admin/Content/Clients/index.htm">Home</a></li>
                    <li class="breadcrumb-item active">Sản phẩm</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title text-uppercase">Danh sách sản phẩm</h3>

            <div class="card-tools">
                <a href="/Admin/Products/Create" class="btn btn-primary">Thêm mới</a>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th>ID sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>Ngày tạo</th>
                        <th>Số lượng</th>
                        <th>Giá</th>
                        <th>Giảm giá</th>
                        <th>Chi tiết</th>
                        <th>Xóa</th>
                    </tr>
                </thead>
                <tbody class="productTable">
                    <tr colspan="2">
                            <td> <input type="submit" class="btn btn-primary" value="Lưu"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            Footer
        </div>
    </div>

</section>
<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Hình ảnh sliders</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="ImgModals">
            </div>
            <div class="modal-footer">
                Change images<input type="file" id="uploadhinh" name="uploadhinh" accept="image/*" />
            </div>
        </div>
    </div>
</div>

<!-- /.content -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Xóa danh mục</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn xóa loại sản phẩm này không <span id="Name-Modal" class="text-bold"></span>
                <a id="id-Modal" hidden></a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary Ajax-delete" data-bs-dismiss="modal">Xóa</button>
            </div>
        </div>
    </div>
</div>
@section Ajax{
    <script>
        window.onload = loadFinished;
        function loadFinished() {
            $.ajax({
                type: 'GET',
                url: '/Api/Categories',
                success: (responses) => {
                    for (var i = 0; i < responses.length; i++) {
                        const categoryRow = responses[i];
                        const strHTML = `<tr id="trow-${categoryRow.Id}">
                                                <td><input id="Categories_${i}__Id" name="Categories[${i}].Id" readonly="readonly" type="text" value="${categoryRow.Id}"></td>
                                                <td><input class="form-control" id="Categories_${i}__Name" name="${categoryRow.Name}" type="text" value="${categoryRow.Name}"></<td>
                                                <td><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop" data-id="${categoryRow.Id}" onclick="GetId('${categoryRow.Name}',${categoryRow.Id})">Xóa</button></td>
                                            </tr>`
                        $('.productTable').append(strHTML);
                    }
                },
                error: (err) => { console.log(err); }
            });
        }
        window.onload = loadFinished;
        function loadFinished() {
            $.ajax({
                type: 'GET',
                url: '/Api/Products',
                success: (responses) => {
                    alert(123);
                    for (var i = 0; i < responses.length; i++) {
                        const categoryRow = responses[i];
                        const strHTML = `<tr id="trow-${categoryRow.Id}">
                                                <td><input class="form-control disabled" id="Products_${i}__ProductId" name="Products[${i}].ProductId" readonly="readonly" type="text" value="${categoryRow.ProductId}"></td>
                                                <td><input class="form-control" id="Categories_${i}__Name" name="Products[${i}].Name" type="text" value="${categoryRow.Name}"></<td>
                                                <td><input class="form-control datetimepicker-input" id="Products_${i}__DateCreate" name="Products[${i}].DateCreate" placeholder="Ngày tạo sản phẩm"  value="" type="date""></td>
                                                <td><input min="0" type="Number" class="form-control" id="Products_${i}__Quantity" name="Products[${i}].Quantity" value="${categoryRow.Quantity}"></td>
                                                <td><input min="0" type="Number" class="form-control" id="Products_${i}__Price" name="Products[${i}].Price" value="${categoryRow.Price}"></td>
                                                <td><input min="0" type="Number" class="form-control" id="Products_${i}__Promotion" max="100" name="Products[${i}].Promotion" value="${categoryRow.Promotion}"></td>
                                                <td><button type="button" class="btn btn-danger"  data-id="SMID0105-01" onclick="GetId(${categoryRow.Name},)">Xóa</button></td>
                                                <td><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop" data-id="SMID0105-01" onclick="GetId(${categoryRow.Name},${categoryRow.ProductId})"> Xóa</button></td>
                                        </tr>`
                        $('.productTable').append(strHTML);
                    }
                },
                error: (err) => { console.log(err); }
            });
        }
    </script>
}