@model List<Project.Models.Category>

@{
    ViewBag.Title = "Index";
}
@section naviheader{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="~/admin/Content/Clients/index.html" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="~/admin/Categories/Index" class="nav-link">Danh mục</a>
        </li>
    </ul>
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="text-uppercase">Quản lý danh mục</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="~/admin/Content/Clients/index.htm">Home</a></li>
                    <li class="breadcrumb-item active">Danh mục</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Danh sách danh mục</h3>

            <div class="card-tools">
                <a href="/Admin/categories/Create" class="btn btn-primary">Thêm mới</a>
            </div>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID danh mục</th>
                        <th>Tên danh mục</th>
                        <th>Chức năng</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        using (Html.BeginForm("Edit", "Categories", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            for (int i = 0; i < Model.Count(); i++)
                            {
                                <tr id="trow-@Model[i].Id">
                                    <td>
                                        @Html.TextBox("Categories[" + i + "].Id", Model[i].Id, new { @readonly = "readonly" })
                                    </td>
                                    <td>
                                        @Html.TextBox("Categories[" + i + "].Name", Model[i].Name, htmlAttributes: new { @class = "form-control" })
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop" data-id="@Model[i].Id" onclick="GetId(`@Model[i].Name`,@Model[i].Id)">
                                            Xóa
                                        </button>
                                    </td>
                                </tr>
                            }
                            <tr colspan="2">
                                <td> <input type="submit" class="btn btn-primary" value="Lưu"></td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4"> Không có bản ghi nào</td>
                        </tr>
                    }
                </tbody>


            </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            Footer
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Xóa danh mục</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn xóa danh mục này không <span id="Name-Modal" class="text-bold"></span>
                <a id="id-Modal"></a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary Ajax-delete" data-bs-dismiss="modal">Xóa</button>
            </div>
        </div>
    </div>
</div>
@section Ajax{
    <script>
        $(document).ready(function () {
            $('body').on('click', '.Ajax-delete', function (e) {
                e.preventDefault();
                var id = document.getElementById('id-Modal').innerHTML;
                $.ajax({
                    url: '/Admin/Categories/Remove',
                    type: 'POST',
                    data: { id: id },
                    success: function (rs) {
                        if (rs.Success) {
                            $('#trow-' + id).remove();
                        }
                    }
                });
            });
        });
    </script>
}